<p id="notice"><%= notice %></p>



<p>
  <strong>First name:</strong>
  <%= @contact.fname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @contact.instagram %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact), class:"btn btn-info" %> 
<%= link_to 'Back', contacts_path,  class:"btn btn-info" %>
